@model IEnumerable<CgiQuiz.Models.Question>

@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<div class="row">
    <div class="col-md-12">
        <h2>Registered users</h2>
        @if (Model.Any())
        {
            <table class="table">
                <tr>
                    <th>Question</th>
                    <th>Answer A</th>
                    <th>Answer B</th>
                    <th>Answer C</th>
                    <th>Answer D</th>
                    <th>Correct Answer</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.QuestionText
                        </td>
                        <td>
                            @item.AnswerA
                        </td>
                        <td>
                            @item.AnswerB
                        </td>
                        <td>
                            @item.AnswerC
                        </td>
                        <td>
                            @item.AnswerD
                        </td>
                        <td>
                            @item.CorrectAnswer
                        </td>
                        <td>
                            <a href="@item.QuestionID">Edit</a>
                        </td>
                        <td>
                            <a href="@item.QuestionID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no registered questions.</p>
        }
    </div>
</div>